<!DOCTYPE html>
<html lang="en">
<head>

    <title>Admin Dashboard</title>

    <link th:href="@{/admin.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>


</head>

<body>
<div class="background"></div>
<div class="header_div">
    <header>
        <img class="logo" th:src="@{/img/project-manager-logo.png}" alt="logo">

        <nav>
            <ul class="nav_links">
                <li><a href="#">Projekter</a></li>
                <li><a href="#">Opgaver</a></li>
                <li><a href="#">Medarbejder</a></li>
            </ul>
        </nav>

        <a class="cta" href="/logout"><button class="sign_out_button">Log ud</button></a>

    </header>
</div>
<div class="admin-dashboard">
    <h1>Admin dashboard</h1>
    <div class="user-container">
        <a href="allUsers"><h3>Hvis alle medarbejder</h3></a>
        <p>Klik her for at få adgang til 'Vis alle brugere.' Du kan nemt redigere, slette og tilføje nye brugere, hvilket sikrer, at dit team altid er opdateret og sikkert.</p>
        <a href="allUsers"><img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="logo"></a>

    </div>
    <div class="project-container">
        <a href="/allProjects"><h3>Hvis alle projekter</h3></a>
<p> Klik her for at navigere til 'Vis alle projekter.' Administrer projektoplysninger nemt, hvad enten det er redigering, oprettelse eller sletning af projekter, for at opretholde optimal organisation og effektivitet.</p>
        <a href="/allProjects"><img src="https://static.thenounproject.com/png/5991177-200.png"></a>


    </div>
</div>
<div class="footer-div">
    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href ="#">Privacy</a></li>
                    <li><a href ="#">About</a></li>
                    <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
                </ul>
            </nav>
            <p>ProjectManager, Copyright &copy; 2024</p>
        </div>

    </footer>
</div>
</body>
</html>