<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vis alle projekter</title>
</head>
<body>
<h1>Projektliste</h1>
<table border="1">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td><a th:href="@{'/' + ${project.projectId} + '/subprojects'}">Se Subprojects</a></td>
    </tr>
    </tbody>
</table>
<a href="/createProjectForm">Opret et nyt projekt</a>
</body>
</html>