<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all projects</title>
</head>
<body>
<h1>Project List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td><a th:href="@{'/' + ${project.projectId} + '/subprojects'}">View Subprojects</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>