<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine opgaver</title>
</head>
<body>
<h1>Tildelte opgaver</h1>
<table border="1">
    <thead>
    <tr>
        <th>Opgave navn</th>
        <th>Opgave beskrivelse</th>
        <th>Se opgave</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td><a th:href="@{'/' + ${task.taskId} + '/showTask'}">Se opgave</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>