<!DOCTYPE html>
<html lang="en">
<head>

    <title>My Dashboard</title>
    <link th:href="@{/dashboard.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>


</head>

<body>
<div class="background"></div>
<div class="header_div">
    <header>
        <img class="logo" th:src="@{/static/img/project-manager-logo.png}" alt="logo">

        <nav>
            <ul class="nav_links">
                <li><a href="#">Projects</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Employees</a></li>
            </ul>
        </nav>

        <a class="cta" href="/logout"><button class="sign_out_button">Sign out</button></a>

    </header>
</div>
<div class="dashboard">
    <h1>My dashboard</h1>
    <div class="project-container">
        <a href="#"><h3>Show my projects</h3></a>
        <p>Click here to discover the active projects you're engaged in, providing a comprehensive view of your current commitments within the organization. Gain insights into your contributions and stay informed about ongoing initiatives, ensuring you're aligned with team objectives and maximizing your impact within the community.</p>
        <a href="#"><img src="https://static.thenounproject.com/png/5991177-200.png"></a>

    </div>
    <div class="task-container">
        <a href="#"><h3>Active tasks</h3></a>
        <p>Click here to explore your active tasks, offering a detailed look into your ongoing responsibilities within the organization. Stay updated on your assignments, track progress, and ensure alignment with project timelines. Empower yourself to efficiently manage your workload and contribute effectively to team goals.</p>
        <a href="#"><img src="https://www.svgrepo.com/show/11307/task-list.svg"></a>


    </div>
</div>

<div class="footer-div">
    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href ="#">Privacy</a></li>
                    <li><a href ="#">About</a></li>
                    <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
                </ul>
            </nav>
            <p>ProjectManager, Copyright &copy; 2024</p>
        </div>

    </footer>
</div>

</body>
</html>