<!DOCTYPE html>
<html lang="en">
<head>

    <title>Mit dashboard</title>
    <link th:href="@{/dashboard.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>


</head>

<body>
<div class="background"></div>
<div class="header_div">
    <header>
        <img class="logo" th:src="@{/img/project-manager-logo.png}" alt="logo">

        <nav>
            <ul class="nav_links">
                <li><a href="#">Projekter</a></li>
                <li><a href="#">Opgaver</a></li>
                <li><a href="#">Medarbejder</a></li>
            </ul>
        </nav>

        <a class="cta" href="/logout"><button class="sign_out_button">Log ud</button></a>

    </header>
</div>
<div class="dashboard">
    <h1>Mit dashboard</h1>
    <div class="project-container">
        <a href="#"><h3>Vis mine projekter</h3></a>
        <p>Klik her for at opdage de aktive projekter, du er del af, og få et omfattende overblik over dine nuværende forpligtelser inden for organisationen. Få indsigt i dine bidrag og bliv informeret om igangværende initiativer, så du sikrer, at du er på linje med teamets mål og maksimerer din indflydelse i fællesskabet.</p>
        <a href="#"><img src="https://static.thenounproject.com/png/5991177-200.png"></a>

    </div>
    <div class="task-container">
        <a href="#"><h3>Aktive opgaver</h3></a>
        <p>Klik her for at udforske dine aktive opgaver og få et detaljeret overblik over dine igangværende ansvar inden for organisationen. Bliv opdateret om dine opgaver, følg fremskridt og sørg for at være i overensstemmelse med projektets tidsplaner. Giv dig selv mulighed for effektivt at håndtere din arbejdsbyrde og bidrage effektivt til teamets mål.</p>
        <a href="#"><img src="https://www.svgrepo.com/show/11307/task-list.svg"></a>


    </div>
</div>

<div class="footer-div">
    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href ="#">Privacy</a></li>
                    <li><a href ="#">About</a></li>
                    <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
                </ul>
            </nav>
            <p>ProjectManager, Copyright &copy; 2024</p>
        </div>

    </footer>
</div>

</body>
</html>