<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger subprojekt</title>
</head>
<body>
<form th:action="@{/editProject}" th:object="${project}" method="post">

    <label for="name">Projekt navn:</label>
    <input type="text" id="name" th:field="*{projectName}" required>

    <label for="description">Beskrivelse:</label>
    <input type="text" id="description" th:field="*{projectDescription}">

    <input type="hidden" th:field="*{projectId}">

    <button type="submit">Indsend</button>
</form>
</body>
</html>