<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link th:href="@{/index.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/icon.png}" type="image/x-icon">
    <title>Log inD</title>
</head>
<body>

<div class ="background"></div>

<div class="login-page">
    <div class="form">
        <form class="login-form" action="/login" method="post" th:action="@{/login}" >
            <h2></i> Log ind</h2>
            <input type="text" name="username" placeholder="Brugernavn" required />
            <input type="password" name="password" placeholder="Adgangskode" required/>
            <input class="btn" type="submit" value="Log ind" placeholder="Log ind">

            <p class="message">Ikke registeret? <a href="#">Kontakt Leder</a></p>
        </form>
    </div>
</div>
</div>
</body>
</html>