<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
    <link th:href="@{/index.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<div class ="background"></div>

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            <h2></i> Login</h2>
            <input type="text" placeholder="Username" required />
            <input type="password" placeholder="Password" required/>
            <input class="btn" type="submit" value="Sign in" placeholder="Sign in">

            <p class="message">Not registered? <a href="#">Contact manager</a></p>
        </form>
    </div>
</div>
</div>
</body>
</html>