<!DOCTYPE html>
<html lang="en">
<head>

    <title>Manager Dashboard</title>
    <link th:href="@{/managerdashboard.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>


</head>

<body>
<div class="background"></div>
<div class="header_div">
    <header>
        <img class="logo" th:src="@{/img/project-manager-logo.png}" alt="logo">

        <nav>
            <ul class="nav_links">
                <li><a href="#">Projects</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Employees</a></li>
            </ul>
        </nav>

        <a class="cta" href="/logout"><button class="sign_out_button">Sign out</button></a>

    </header>
</div>
<div class="manager-dashboard">
    <h1>Manager dashboard</h1>

    <div class="project-container">
        <a href="/managedProjects"><h3>Show my project</h3></a>
        <p>Click here to oversee the project you manage, offering a detailed view of your leadership responsibilities. Access key insights, track progress, and facilitate team collaboration to ensure project success. Empower yourself to effectively drive results and foster a culture of achievement within your team.</p>
        <a href="/managedProjects"><img src="https://static.thenounproject.com/png/5991177-200.png"></a>


    </div>
</div>
<div class="footer-div">
    <footer>
        <div class="container">
            <nav>
                <ul>
                    <li><a href ="#">Privacy</a></li>
                    <li><a href ="#">About</a></li>
                    <li><a href ="https://www.arla.dk/opskrifter/cookies/">Cookies</a></li>
                </ul>
            </nav>
            <p>ProjectManager, Copyright &copy; 2024</p>
        </div>

    </footer>
</div>
</body>
</html>