<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hvis Brugere</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Fulde navn</th>
        <th>Brugernavn</th>
        <th>Rolle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.realName}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <span th:switch="${user.roleId}">
                <span th:case="1">Admin</span>
                <span th:case="2">Leder</span>
                <span th:case="3">Medarbejder</span>
            </span>
        </td>
</table>
<a href="/createUserForm">Opret Bruger</a>

</body>
</html>