<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${task.taskName}"></title>
</head>
<body>
<h1 th:text="${task.taskName}"></h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Assignees</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td>
            <ul>
                <li th:each="assignee : ${assignees}" th:text="${assignee.realName}"></li>
            </ul>
    </tr>
    </tbody>
</table>
</body>
</html>