<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${task.taskName}"></title>
</head>
<body>
<h1 th:text="${task.taskName}"></h1>
<table border="1">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Tildelte</th>
        <th>Tid i time(r)</th>
        <th>Pris</th>
        <th>Status</th>
        <th>Tildel</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td>
            <ul>
                <li th:each="assignee : ${assignees}">
                    <span  th:text="${assignee.realName}"></span>
                    <form method="post" th:action="@{'/' + ${taskId} + '/unassignUser'}">
                        <input type="hidden" name="userId" th:value="${assignee.userId}">
                        <button type="submit">Fjern tildeling</button>
                    </form>
                </li>
            </ul>
        </td>
        <td th:text="${task.taskTime}"></td>
        <td th:text="${task.taskPrice}"></td>
        <td th:text="${status}"></td>
        <td><form method="post" th:action="@{'/' + ${taskId} + '/assignUser'}">
            <label>
                <select name="userId">
                    <option th:each="user : ${allEmployees}" th:value="${user.userId}" th:text="${user.realName}">Medarbejder</option>
                </select>
            </label>
            <button type="submit">Tildel</button>
        </form></td>

        <td>
            <a th:href="@{'/' + ${taskId} + '/updateTask'}">Update Task</a>
        </td>
    </tr>
    </tbody>


</table>
</body>
</html>