<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Subprojekter til mit administrerede projekt</title>
</head>
<body>
<h1>Subprojekt Liste</h1>
<table border="1">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${subprojects}">
        <td th:text="${project.projectName}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td><a th:href="@{'/' + ${project.projectId} + '/tasks'}">Se opgaver</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>