<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Opgaveliste for mit administrerede subprojects</title>

    <script type="text/javascript">
        function confirmDeletion() {
            return confirm("Er du sikker på du vil slette denne opgave?");
        }
    </script>

</head>
<body>
<h1>Opgave liste</h1>
<table border="1">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td><a th:href="@{'/' + ${task.taskId} + '/showTask'}">Se opgave</a></td>

        <td><a th:href="@{'/' + ${task.taskId} + '/updateTask'}">Opdater opgave</a></td>

        <td>
            <form th:action="@{'/' + ${subProjectId} + '/' + ${task.taskId} + '/deleteTask'}" method="post" onsubmit="return confirmDeletion()" style="display:inline;">
                <button type="submit">Slet opgave</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<a th:href="@{'/' + ${subProjectId} + '/createTask'}">Opret ny opgave</a>
</body>
</html>