<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdater opgave</title>
</head>
<body>

    <h2>Opdater opgave:</h2>
    <form th:action="@{'/' + ${taskId} + '/updateTask'}" th:object="${task}" method="post">

        <label for="taskName">Opgavenavn:</label>'
        <input type="text" id="taskName" name="taskName" th:value="${task.taskName}">
        <br>

        <label for="taskDescription">Opgave beskrivelse:</label>
        <input type="text" id="taskDescription" name="taskDescription" th:value="${task.taskDescription}">
        <br>

        <label for="taskTime">Tid:</label>
        <input type="number" id="taskTime" th:value="${task.taskTime}">
        <br>

        <label for="taskPrice">Pris:</label>
        <input type="number" id="taskPrice" th:value="${task.taskPrice}">
        <br>

        <button type="submit">Opdater opgave</button>
    </form>

</body>
</html>